{% extends 'base.html' %} 
{% load static %} 

{% block title %}Цех №4{% endblock title %}

{% block content %}
<img class="main-bg" src="{% static 'images/main-bg.png' %}" alt="">

<section class="welcome-section container">
    <div class="welcome-logo">
        <img src="{% static 'images/logo.svg' %}" alt="">
    </div>
    <div class="welcome-header">
        <h1>Обследование<br>и проектирование зданий</h1>
        <p class="section-description">Обеспечиваем высокий уровень качества, безопасности<br> и надежности на каждом этапе работы</p>
        <button class="red-button">Связаться с нами</button>
    </div>
</section>

<section class="advantages-section container">
    <div class="advantages-header">
        <div class="advantages-subheader">
            <div class="red-point-container">
                <div class="red-point"></div>
            </div>
            <p class="uppercase">Почему выбирают нас</p>
        </div>
        <div class="advantages-header-body">
            <h2>Надежные решения <br>
                для вашего строительства <br>
                и проектирования</h2>
            <p class="section-description">Профессиональный подход, современные технологии и гарантированное качество <br>
                для реализации ваших строительных проектов</p>
        </div>
    </div>
    <div class="advantages-stats">
        <div class="label">
            Наши преимущества
        </div>
        <div class="advantages-stats-container">
            <div class="advantages-stat">
                <p class="heading">150+</p>
                <p class="label">завершенных проектов</p>
            </div>
            <div class="advantages-stat">
                <p class="heading">500 тыс+ </p>
                <p class="label">м² площадь спроектированных объектов</p>
            </div>
            <div class="advantages-stat">
                <p class="heading">до 100%</p>
                <p class="label">проектов, выполненных с BIM-моделированием </p>
            </div>
        </div>
    </div>
</section>

<section class="services-section container">
    <div class="services-header">
        <h2 class="section-heading">Наши услуги</h2>
        <p>Создаем надежные и эффективные<br>инженерные решения</p>
    </div>
    <div class="services-container box">
        <div class="header box">
            <div class="box-header">
                <span class="badge">От ТЗ до сдачи документации</span>
                <p class="box-heading">Проектирование <br>конструктивных решений</p>
            </div>
            <div class="tags">
              <span class="tag">Проектирование</span>
              <span class="tag">Конструкторская документация</span>
              <span class="tag">Обследование зданий</span>
              <span class="tag">Анализ прочности</span>
              <span class="tag">Технический аудит</span>
              <span class="tag">Инженерные расчёты</span>
              <span class="tag">Проектирование</span>
            </div>
        </div>
      
        <div class="expertise box">
            <img src="{% static 'images/services-expertise.png' %}" alt="Экспертиза">
            <div class="box-text">
              <p class="box-heading">Экспертиза</p>
              <p>Оборудование<br>Сертификаты</p>
            </div>
        </div>
      
        <div class="survey box">
            <img src="{% static 'images/services-survey.png' %}" alt="Обследование">
            <div class="box-text">
              <p class="box-heading">Обследование зданий</p>
              <p>Визуальный осмотр, инструментальная диагностика, анализ грунтов</p>
            </div>
        </div>
      
        <div class="support box">
            <img src="{% static 'images/services-support.png' %}" alt="Сопровождение">
            <div class="box-text">
                <p class="box-heading">Сопровождение <br> проектов</p>
                <p class="box-gray">Согласование с госорганами, авторский <br> надзор, корректировка документации</p>
            </div>
        </div>
      
        <div class="quote box">
            <div class="quote-wrapper">
                <p class="quote-text">"Наша компания объединяет опыт и инновации в области проектирования и разработки конструктивных решений. Мы создаем надёжные и эффективные проекты"</p>
                <div class="quote-info">
                  <img class="quote-author" src="{% static 'images/quote-author-example.png' %}" alt="Автор">
                  <div class="quote-author-info">
                    <p>Горбунов Игорь Андреевич</p>
                    <small>Генеральный директор</small>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'home/includes/contact_section.html' %}

{% include 'home/includes/partners_section.html' %}

<section class="gallery-section container">
    <p class="section-heading">Галерея работ</p>
    <div class="gallery-body">
        <div class="filter-panel">
            <button class="active">Все направления</button>
            <button>Проектирование</button>
            <button>Конструкторская документация</button>
            <button>Обследование зданий</button>
        </div>
        <div class="gallery-slider swiper">
            <div class="swiper-wrapper">
                <div class="gallery-photo swiper-slide">
                    <img src="{% static 'images/gallery-photo-1.png' %}" alt="">
                    <div class="badge">апрель 2025</div>
                    <p class="gallery-heading">Профессиональный авторский надзор</p>
                    <p class="gallery-label">Визуальный осмотр, инструментальная диагностика, анализ грунтов</p>
                </div>
                <div class="gallery-photo swiper-slide">
                    <img src="{% static 'images/gallery-photo-2.png' %}" alt="">
                    <div class="badge">октябрь 2025</div>
                    <p class="gallery-heading">Обследование зданий</p>
                    <p class="gallery-label">Визуальный осмотр, инструментальная диагностика, анализ грунтов</p>
                </div>
                <div class="gallery-photo swiper-slide">
                    <img src="{% static 'images/gallery-photo-1.png' %}" alt="">
                    <div class="badge">апрель 2025</div>
                    <p class="gallery-heading">Профессиональный авторский надзор</p>
                    <p class="gallery-label">Визуальный осмотр, инструментальная диагностика, анализ грунтов</p>
                </div>
                <div class="gallery-photo swiper-slide">
                    <img src="{% static 'images/gallery-photo-2.png' %}" alt="">
                    <div class="badge">апрель 2025</div>
                    <p class="gallery-heading">Профессиональный авторский надзор</p>
                    <p class="gallery-label">Визуальный осмотр, инструментальная диагностика, анализ грунтов</p>
                </div>
                <div class="gallery-photo swiper-slide">
                    <img src="{% static 'images/gallery-photo-1.png' %}" alt="">
                    <div class="badge">апрель 2025</div>
                    <p class="gallery-heading">Профессиональный авторский надзор</p>
                    <p class="gallery-label">Визуальный осмотр, инструментальная диагностика, анализ грунтов</p>
                </div>
                <div class="gallery-photo swiper-slide">
                    <img src="{% static 'images/gallery-photo-2.png' %}" alt="">
                    <div class="badge">апрель 2025</div>
                    <p class="gallery-heading">Профессиональный авторский надзор</p>
                    <p class="gallery-label">Визуальный осмотр, инструментальная диагностика, анализ грунтов</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map-section">
    <div id="map"></div>
    <div class="map-section-content-container container">
        <div class="map-section-content">
            <div class="left-column">
                <p class="header">Контакты</p>
                <div class="body">
                    <div class="address">
                        <p class="label">Адрес</p>
                        <div class="value-container">
                            <p class="value">690065, Приморский край, г. Владивосток, ул. Пушкина 91</p>
                            <small>пн-пт 08:30–17:30</small>
                        </div>
                    </div>
                    <div class="phone">
                        <p class="label">Телефон</p>
                        <a target="_blank" class="value" href="">+7 (984) 195-00-55</a>
                    </div>
                    <a class="email" href="">info@ceh4.net</a>
                    <div class="social-links">
                        <img src="{% static 'images/telegram.svg' %}" alt="">
                        <img src="{% static 'images/whatsapp.svg' %}" alt="">
                        <img src="{% static 'images/vk.svg' %}" alt="">
                    </div>
                </div>
            </div>
            <form class="right-column">
                <p class="form-heading">Оставьте свою заявку и наш менеджер свяжется с Вами для уточнения деталей</p>
                <div class="inputs-panel">
                    <input type="text" placeholder="Имя">
                    <input type="tel" name="" id="" placeholder="Телефон">
                </div>
                <textarea name="" id="" placeholder="Сообщение"></textarea>
                <div class="form__checkbox">
                    <div class=form__checkbox-wrap>
                        <input checked type=checkbox id=questionsCheckbox name=consent required>
                    </div>
                    <div>
                        <label for=questionsCheckbox class=form__checkbox-label>
                            С <span class="color-red">правилами политики конфиденциальности</span> ознакомлен
                        </label>
                    </div>
                </div>
                <button class="red-button">Связаться с нами</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}

<!-- Галерея -->
<script defer>
    const gallerySwiper = new Swiper('.gallery-slider.swiper', {
        spaceBetween: 24,
        initialSlide: 0,
    
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3,
          }
        }
      });

      console.log(partnesSwiper)
</script>

<!-- Карта -->
<script defer>
    var myMap;

    ymaps.ready((function() {
    myMap = new ymaps.Map("map", {
        center: [43.115542, 131.885494],
        zoom: 13,
        controls: []
    });
    var o = new ymaps.control.ZoomControl({
        options: {
            position: {
                right: 10,
                top: 50
            },
            size: "small"
        }
    });
    myMap.controls.add(o), myMap.behaviors.disable("scrollZoom");
    var a = new ymaps.Placemark([43.157062, 131.926061], {
        hintContent: "Волгоградская улица, 7А",
        balloonContent: "Волгоградская улица, 7А"
    }, {
        iconLayout: "default#image",
        iconImageHref: "/static/images/pin.svg",
        iconImageSize: [30, 42],
        iconImageOffset: [-15, -42]
    });
    myMap.geoObjects.add(a)
}));
</script>
{% endblock %}