{% extends 'base.html' %} 
{% load static %} 
{% load markdown_tags %}
{% block title %}Блог{% endblock title %}

{% block content %}
<img class="main-bg" src="{% static 'images/main-bg.png' %}" alt="">

<section class="article-page container">
    <div class="header">
        <div class="breadcrumbs">
            <a>Главная</a>
            <a>Блог</a>
            <a href="">{{ article.category.name }}</a>
        </div>
        <h1 class="page-heading">{{ article.name }}</h1>
    </div>

    <div class="article-body">
        <div class="article-header">
            <img src="{{ article.image.url }}" alt="">
            <div class="article-header-wrapper">
                <div class="article-page-badge">{{ article.created_at|date:"F Y" }}</div>
                <div class="article-page-heading">{{ article.name }}</div>
                <div class="article-page-label">{{ article.subtitle }}</div>
            </div>
        </div>
        <div class="article-content">
            <div class="article-content-text">
                {{ article.content|markdown }}
            </div>
            <button class="article-share-button">
                <img src="{% static 'images/share.svg' %}" alt="">
                <p>Поделиться</p>
            </button>
            <div class="copy-notification">Ссылка скопирована!</div>
        </div>
    </div>
</section>

{% include 'home/includes/contact_section.html' %}

{% endblock %}

{% block script %}
<script defer>
    const shareButton = document.querySelector('.article-share-button');
    const notification = document.querySelector('.copy-notification');
    
    shareButton.addEventListener('click', async () => {
        try {
            await navigator.clipboard.writeText(window.location.href);
            notification.classList.add('show');
            setTimeout(() => {
                notification.classList.remove('show');
            }, 2000);
        } catch (err) {
            console.error('Ошибка при копировании:', err);
        }
    });
</script>
{% endblock %}