{% extends 'base.html' %} 
{% load static %} 

{% block title %}Блог{% endblock title %}

{% block content %}
<img class="main-bg" src="{% static 'images/main-bg.png' %}" alt="">

<section class="blog-page container">
    <div class="header">
        <div class="breadcrumbs">
            <a>Главная</a>
            <a>Блог</a>
        </div>
        <h1 class="page-heading">Блог</h1>
    </div>

    <div class="blog-body">
        <div class="filter-panel">
            <a class="{% if not selected_category_id %}active{% endif %}" href="{% url 'blog:blog' %}">Все направления</a>
            {% for category in categories %}
                <a
                    href="{% url 'blog:blog_category' category.id %}"
                    class="{% if selected_category_id == category.id %}active{% endif %}"
                >
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
        <div class="article-cards">
            {% for article in articles %}
                
                <a href="{{ article.get_absolute_url }}" class="article-card {% if forloop.counter == 1 or forloop.counter == 6 or forloop.counter == 8 %}big{% endif %}">
                    <img src="{{ article.image.url }}" alt="">
                    <div class="badge">{{ article.created_at|date:"F Y" }}</div>
                    <p class="article-heading">{{ article.name }}</p>
                    <p class="article-label">{{ article.subtitle }}</p>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="blog-pagination">
        {% for page in articles.paginator.page_range %}
            <a href="?page={{ page }}" class="blog-pagination-link {% if articles.number == page %}active{% endif %}">{{ page }}</a>
        {% endfor %}
    </div>
</section>

{% include 'home/includes/contact_section.html' %}

{% endblock %}

{% block script %}
{% endblock %}