{% load static %}

<section class="contact-section">
    <img class="background" src="{% static 'images/contact-bg.png' %}" alt="">
    <div class="container">
        <div class="left-column">
            <div class="contact-section-header container">
                <p class="section-heading">Свяжитесь с нами</p>
                <small>Разработаем оптимальное решение для ваших задач. Вы получите</small>
            </div>
            <div class="stage-cards container without-right">
                <div class="stage-card">
                    <div class="stage-card-header">
                        <p class="stage-card-number">01</p>
                        <p class="stage-card-heading">Технико-коммерческое предложение </p>
                    </div>
                </div>
                <div class="stage-card">
                    <div class="stage-card-header">
                        <p class="stage-card-number">02</p>
                        <p class="stage-card-heading">Четкий план работ <br>от обследования до сдачи </p>
                    </div>
                </div>
                <div class="stage-card">
                    <div class="stage-card-header">
                        <p class="stage-card-number">03</p>
                        <p class="stage-card-heading">Перечень необходимых <br>исходных данных </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-column container">
            <form>
                {% csrf_token %}
                <div class="label">
                    Оставьте свою заявку и наш менеджер свяжется с Вами для уточнения деталей
                </div>
                <div class="two-columns">
                    {{ contact_form.name }}
                    {{ contact_form.phone }}
                </div>
                {{ contact_form.message }}
                <div class="button-container">
                    <button class="red-button">Связаться с нами</button>
                    <p class="agreement-text">Нажимая “Связаться с нами”, вы соглашаетесь на <a href="{{ company_info.privacy_policy.url }}">обработку персональных данных</a>.</p>
                </div>
            </form>
        </div>
    </div>
</section>


<script defer>
    const contactForm = document.querySelector('.contact-section form');
    contactForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(contactForm);

        try {
            const response = await axios.post('/contacts/api/save-request/', formData);
            
            if (response.data.success) {
                contactForm.reset();
            }
        } catch (error) {
            console.error('Ошибка при отправке формы:', error);
        }
    });
</script>