{% load static %}

<section class="partners-section container">
    <img class="partners-background" src="{% static 'images/partners-background.png' %}" alt="">
    <img class="partners-bg-lines" src="{% static 'images/partners-bg-lines.png' %}" alt="">
    <h2 class="section-heading">Нам доверяют</h2>
    <div class="partners-body">
        <div class="partners-stats partners-container">
            <div class="partners-stat">
                <p class="number">4.8</p>
                <p class="label">Средняя оценка на Яндекс и 2GIS</p>
            </div>
            <div class="partners-stat">
                <p class="number">80%</p>
                <p class="label">клиентов обращаются снова</p>
            </div>
            <div class="partners-stat">
                <p class="number">100+ </p>
                <p class="label">довольных заказчиков</p>
            </div>
            <div class="partners-stat">
                <p class="number">10+ </p>
                <p class="label">регионов России</p>
            </div>
        </div>
        <div class="reviews-slider swiper">
            <div class="swiper-wrapper">
                <div class="review swiper-slide">
                    <div class="upper">
                        <div class="stars">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                        </div>
                        <p class="review-heading">Грамотная корректировка документации</p>
                        <p class="review-text">После замечаний экспертизы компания оперативно внесла правки. Все сделано качественно, повторных вопросов не возникло. Спасибо</p>
                    </div>
                    <div class="lower">
                        <p class="author-name">Смирнов Дмитрий</p>
                        <p class="author-position">ТехноИнжениринг</p>
                    </div>
                </div>
                <div class="review swiper-slide">
                    <div class="upper">
                        <div class="stars">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                        </div>
                        <p class="review-heading">Профессиональный авторский надзор</p>
                        <p class="review-text">Специалисты контролировали строительство, вовремя выявляли отклонения. Благодаря этому объект сдан без проблем. Отличная работа!</p>
                    </div>
                    <div class="lower">
                        <p class="author-name">Кузнецова Елена</p>
                        <p class="author-position">АрхСтройКонсалт</p>
                    </div>
                </div>
                <div class="review swiper-slide">
                    <div class="upper">
                        <div class="stars">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                        </div>
                        <p class="review-heading">Комплексное проектирование "под ключ"</p>
                        <p class="review-text">От разработки до согласования – все этапы выполнены на высоком уровне. Команда надежная, сроки соблюдены. Буду обращаться снова!</p>
                    </div>
                    <div class="lower">
                        <p class="author-name">Белов Артем</p>
                        <p class="author-position">ПроектГарант</p>
                    </div>
                </div>
                <div class="review swiper-slide">
                    <div class="upper">
                        <div class="stars">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                        </div>
                        <p class="review-heading">Точный технический аудит</p>
                        <p class="review-text">Компания помогла пройти госэкспертизу без задержек. Все корректировки вносились оперативно. Отличный сервис и компетентные специалисты!</p>
                    </div>
                    <div class="lower">
                        <p class="author-name">Кузнецова Елена</p>
                        <p class="author-position">АрхСтройКонсалт</p>
                    </div>
                </div>
                <div class="review swiper-slide">
                    <div class="upper">
                        <div class="stars">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                        </div>
                        <p class="review-heading">Качественное проектирование конструкций</p>
                        <p class="review-text">Обратились в компанию за проектированием каркаса здания. Работа выполнена профессионально, учтены все нюансы. Документация оформлена четко, без замечаний от экспертизы. Рекомендую!</p>
                    </div>
                    <div class="lower">
                        <p class="author-name">Иванов Алексей</p>
                        <p class="author-position">СтройТехПроект</p>
                    </div>
                </div>
                <div class="review swiper-slide">
                    <div class="upper">
                        <div class="stars">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                        </div>
                        <p class="review-heading">Качественное проектирование конструкций</p>
                        <p class="review-text">Обратились в компанию за проектированием каркаса здания. Работа выполнена профессионально, учтены все нюансы. Документация оформлена четко, без замечаний от экспертизы. Рекомендую!</p>
                    </div>
                    <div class="lower">
                        <p class="author-name">Иванов Алексей</p>
                        <p class="author-position">СтройТехПроект</p>
                    </div>
                </div>
                <div class="review swiper-slide">
                    <div class="upper">
                        <div class="stars">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                            <img src="{% static 'images/star.svg' %}" alt="">
                        </div>
                        <p class="review-heading">Качественное проектирование конструкций</p>
                        <p class="review-text">Обратились в компанию за проектированием каркаса здания. Работа выполнена профессионально, учтены все нюансы. Документация оформлена четко, без замечаний от экспертизы. Рекомендую!</p>
                    </div>
                    <div class="lower">
                        <p class="author-name">Иванов Алексей</p>
                        <p class="author-position">СтройТехПроект</p>
                    </div>
                </div>
            </div>
            <div class="partners-slider swiper">
                <div class="swiper-wrapper">
                    <div class="partner swiper-slide">
                        <img src="{% static 'images/partner-logo-example.svg' %}" alt="">
                    </div>
                    <div class="partner swiper-slide">
                        <img src="{% static 'images/partner-logo-example-2.svg' %}" alt="">
                    </div>
                    <div class="partner swiper-slide">
                        <img src="{% static 'images/partner-logo-example-3.svg' %}" alt="">
                    </div>
                    <div class="partner swiper-slide">
                        <img src="{% static 'images/partner-logo-example.svg' %}" alt="">
                    </div>
                    <div class="partner swiper-slide">
                        <img src="{% static 'images/partner-logo-example-2.svg' %}" alt="">
                    </div>
                    <div class="partner swiper-slide">
                        <img src="{% static 'images/partner-logo-example-3.svg' %}" alt="">
                    </div>
                    <div class="partner swiper-slide">
                        <img src="{% static 'images/partner-logo-example.svg' %}" alt="">
                    </div>
                    <div class="partner swiper-slide">
                        <img src="{% static 'images/partner-logo-example-2.svg' %}" alt="">
                    </div>
                    <div class="partner swiper-slide">
                        <img src="{% static 'images/partner-logo-example-3.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Партнёры -->
<script defer>
    const partnesSwiper = new Swiper('.partners-slider.swiper', {
        spaceBetween: 24,
        spaceBetween: 24,
        loop: true,
        centeredSlides: true,
        initialSlide: 0,
    
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 5.5,
          }
        }
      });

      console.log(partnesSwiper)
</script>

<!-- Отзывы -->
<script defer>
    const swiper = new Swiper('.reviews-slider.swiper', {
        spaceBetween: 24,
        spaceBetween: 24,
        loop: true,
        centeredSlides: true,
        initialSlide: 1,
    
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3.6,
          }
        }
      });
    </script>