{% load static %}

<section class="partners-section container">
    <img class="partners-background" src="{% static 'images/partners-background.png' %}" alt="">
    <img class="partners-bg-lines" src="{% static 'images/partners-bg-lines.png' %}" alt="">
    <h2 class="section-heading">Нам доверяют</h2>
    <div class="partners-body">
        <div class="partners-stats partners-container">
            <div class="partners-stat">
                <p class="number">4.8</p>
                <p class="label">Средняя оценка на Яндекс и 2GIS</p>
            </div>
            <div class="partners-stat">
                <p class="number">80%</p>
                <p class="label">клиентов обращаются снова</p>
            </div>
            <div class="partners-stat">
                <p class="number">100+ </p>
                <p class="label">довольных заказчиков</p>
            </div>
            <div class="partners-stat">
                <p class="number">10+ </p>
                <p class="label">регионов России</p>
            </div>
        </div>
        <div class="reviews-slider swiper">
            <div class="swiper-wrapper">
                {% for review in reviews %}
                    <div class="review swiper-slide">
                        <div class="upper">
                            <div class="stars">
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/star.svg' %}" alt="">
                            </div>
                            <p class="review-heading">{{ review.name }}</p>
                            <p class="review-text">{{ review.text }}</p>
                        </div>
                        <div class="lower">
                            <p class="author-name">{{ review.author_name }}</p>
                            <p class="author-position">{{ review.author_company }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="partners-slider swiper">
                <div class="swiper-wrapper">
                    {% for partner in partners %}
                        <div class="partner swiper-slide">
                            <img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
                        </div>
                    {% endfor %}
                    {% for partner in partners %}
                        <div class="partner swiper-slide">
                            <img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
                        </div>
                    {% endfor %}
                    {% for partner in partners %}
                        <div class="partner swiper-slide">
                            <img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Партнёры -->
<script defer>
    const partnesSwiper = new Swiper('.partners-slider.swiper', {
        spaceBetween: 24,
        spaceBetween: 24,
        loop: true,
        centeredSlides: true,
        initialSlide: 0,

        autoplay: {
            delay: 1, 
            disableOnInteraction: false,
        },
        slidesPerView: 'auto',
        speed: 6000,
        freeMode: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 5.5,
          }
        }
      });
</script>

<!-- Отзывы -->
<script defer>
    const swiper = new Swiper('.reviews-slider.swiper', {
        spaceBetween: 24,
        spaceBetween: 24,
        loop: true,
        centeredSlides: true,
        initialSlide: 1,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3.6,
          }
        }
      });
</script>