{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ service.name }}
{% endblock %}

{% block content %}
<img class="main-bg" src="{% static 'images/gray-lines-bg.svg' %}" alt="">

<section class="service-page container">
    <div class="header">
        <div class="breadcrumbs">
            <a href="{% url 'home:home' %}">Главная</a>
            <a href="{% url 'services:services' %}">Услуги</a>
        </div>
        <h1 class="page-heading">{{ service.name }}</h1>
    </div>
    <div class="company-main-block">
        <p class="content__text service-description" data-splitting>{{ service.description_detail }}</p>
        <!-- <p class="content__text service-description" data-splitting>{{ service.description_detail }}</p> -->
        <small>{{ service.label }}</small>
    </div>

    <div class="service-stages-container">
        <p class="section-heading">Этапы работ</p>
        <div class="service-stages">
            {% for stage in service.stages.all %}
                <div class="service-stage-card">
                    <p class="number">0{{ forloop.counter }}</p>
                    <p class="name">{{ stage.name }}</p>
                    <small>{{ stage.label }}</small>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% if articles %}
    <section class="gallery-section container">
        <p class="section-heading container">Галерея проектов</p>
        <div class="gallery-body">
            <div class="filter-panel container">
                <a class="active">Все направления</a>
                {% for category in categories %}
                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                {% endfor %}
            </div>
            <div class="gallery-slider swiper">
                <div class="swiper-wrapper">
                    {% for article in articles %}
                        <a href="{{ article.get_absolute_url }}" class="gallery-photo swiper-slide">
                            <img src="{{ article.image.url }}" alt="">
                            <div class="badge">{{ article.created_at|date:"F Y" }}</div>
                            <p class="gallery-heading">{{ article.name }}</p>
                            <p class="gallery-label">{{ article.subtitle }}</p>
                        </a>
                    {% endfor %}
                    <a href="{{ article.get_absolute_url }}" class="gallery-photo swiper-slide">
                        <img src="{{ article.image.url }}" alt="">
                        <div class="badge">{{ article.created_at|date:"F Y" }}</div>
                        <p class="gallery-heading">{{ article.name }}</p>
                        <p class="gallery-label">{{ article.subtitle }}</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}


{% block script %}
<!-- Галерея -->
<script defer>
    const gallerySwiper = new Swiper('.gallery-slider.swiper', {
        spaceBetween: 24,
        initialSlide: 0,
        slidesOffsetBefore: 0,
        effect: 'slide',
        grabCursor: true,
        breakpoints: {
          0: {
            slidesPerView: 1.2,
            spaceBetween: 12,
            slidesOffsetBefore: 12,
          },
          768: {
            slidesPerView: 1.2,
            spaceBetween: 24,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 24,
          }
        }
      });
</script>


<link rel="stylesheet" type="text/css" href="{% static 'css/splitting.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/splitting-cells.css' %}" />
<script src="{% static 'js/splitting.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script defer src="{% static 'js/service-text-appear.js' %}"></script>
{% endblock %}