{% extends 'base.html' %} 
{% load static %}
{% load markdown_tags %} 

{% block title %}Услуги{% endblock title %}

{% block content %}
<img class="main-bg" src="{% static 'images/main-bg.png' %}" alt="">

<section class="services-page container">
    <div class="header">
        <div class="breadcrumbs">
            <a href="{% url 'home:home' %}">Главная</a>
            <a href="{% url 'services:services' %}">Услуги</a>
        </div>
        <h1 class="page-heading">Наши услуги</h1>
    </div>
    <div class="services-cards">

        {% for service in services %}
            <div class="services-card">
                <div class="left-column">
                    <div class="service-card-header">
                        <p class="service-card-heading">{{ service.name }}</p>
                        <p class="label">{{ service.subtitle }}</p>
                    </div>
                    <div class="lower">
                        {{ service.description|markdown }}
                    </div>
                </div>
                <div class="right-column">
                    <img class="services-card__image {% if service.is_image_small %}small{% endif %}" src="{{ service.image.url }}" alt="">
                    
                    {% if service.task_examples.all %}
                        <div class="badges-list-container">
                            <p>Примеры задач</p>
                            <div class="badges-list">
                                {% for example in service.task_examples.all %}
                                    <div class="badge">
                                        {{ example.name }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% include 'home/includes/contact_section.html' %}

{% endblock %}

{% block script %}
{% endblock %}