{% extends 'base.html' %} 
{% load static %} 

{% block title %}Услуги{% endblock title %}

{% block content %}
<img class="main-bg" src="{% static 'images/main-bg.png' %}" alt="">

<section class="services-page container">
    <div class="header">
        <div class="breadcrumbs">
            <a>Главная</a>
            <a>Услуги</a>
        </div>
        <h1 class="page-heading">Наши услуги</h1>
    </div>
    <div class="services-cards">

        <!-- Проектирование конструктивных решений -->
        <div class="services-card">
            <div class="left-column">
                <div class="service-card-header">
                    <p class="service-card-heading">Проектирование конструктивных решений</p>
                    <p class="label">Мы разрабатываем надежные и эффективные конструктивные решения для объектов различного назначения</p>
                </div>
                <div class="lower">
                    <p class="subheading">Этапы работы</p>
                    <div class="service-card-list">
                        <p>Подготовка технического задания</p>
                        <p>Предпроектный анализ</p>
                        <p>Расчет нагрузок и подбор материалов</p>
                        <p>Разработка чертежей и проектной документации</p>
                        <p>Сдача и утверждение готовых документов</p>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <img class="services-card__image small" src="{% static 'images/service-card-1.png' %}" alt="">
                <div class="badges-list-container">
                    <p>Примеры задач</p>
                    <div class="badges-list">
                        <div class="badge">
                            Усиление существующих фундаментов
                        </div>
                        <div class="badge">
                            Расчет несущей способности конструкций
                        </div>
                        <div class="badge">
                            Оптимизация проектных решений под конкретные условия строительства
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Обследование зданий -->
        <div class="services-card">
            <div class="left-column">
                <div class="service-card-header">
                    <p class="service-card-heading">Обследование <br> зданий</p>
                    <p class="label">Проводим всестороннее обследование зданий и сооружений для оценки их технического состояния</p>
                </div>
                <div class="lower">
                    <p class="subheading">Методы</p>
                    <div class="service-card-list">
                        <p>Визуальный осмотр конструкций</p>
                        <p>Инструментальная диагностика (неразрушающие и разрушающие методы)</p>
                        <p>Анализ состояния грунтов и основания</p>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <img class="services-card__image small" src="{% static 'images/service-card-2.svg' %}" alt="">
            </div>
        </div>

        <!-- Сопровождение проектов -->
        <div class="services-card">
            <div class="left-column">
                <div class="service-card-header">
                    <p class="service-card-heading">Сопровождение <br> проектов</p>
                    <p class="label">Обеспечиваем сопровождение строительных и проектных работ на всех этапах реализации.</p>
                </div>
                <div class="lower">
                    <p class="subheading">Услуги</p>
                    <div class="service-card-list">
                        <p>Согласование проектной документации с государственными органами</p>
                        <p>Авторский надзор за выполнением строительных работ</p>
                        <p>Внесение корректировок и адаптация документации при необходимости</p>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <img class="services-card__image" src="{% static 'images/service-card-3.png' %}" alt="">
            </div>
        </div>

        <!-- Экспертиза -->
        <div class="services-card">
            <div class="left-column">
                <div class="service-card-header">
                    <p class="service-card-heading">Экспертиза</p>
                    <p class="label">Проводим профессиональную строительную и техническую экспертизу объектов.</p>
                </div>
                <div class="lower-flex">
                    <div class="lower">
                        <p class="subheading">Методы работы</p>
                        <div class="service-card-list">
                            <p>Современные методы лабораторных и полевых исследований</p>
                            <p>Анализ материалов, конструкций и инженерных систем</p>
                        </div>
                    </div>
                    <div class="lower">
                        <p class="subheading">Сертификаты</p>
                        <div class="service-card-list">
                            <p>Все эксперты имеют действующие квалификационные сертификаты</p>
                            <p>Соответствие нормативам и стандартам РФ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <img class="services-card__image" src="{% static 'images/service-card-4.png' %}" alt="">
            </div>
        </div>
    </div>
</section>

{% include 'home/includes/contact_section.html' %}

{% endblock %}

{% block script %}
{% endblock %}